/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>



// Cornichon Layout (6 cols + 2 thumbs per side)
// ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
// │  0  │  1  │  2  │  3  │  4  │  5  │   │  6  │  7  │  8  │  9  │ 10  │ 11  │
// ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
// │ 12  │ 13  │ 14  │ 15  │ 16  │ 17  │   │ 18  │ 19  │ 20  │ 21  │ 22  │ 23  │
// ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
// │ 24  │ 25  │ 26  │ 27  │ 28  │ 29  │   │ 30  │ 31  │ 32  │ 33  │ 34  │ 35  │
// └─────┴─────┴─────┼─────┼─────┴─────┘   └─────┴─────┼─────┼─────┴─────┴─────┘
//                   │ 36  │ 37  │                   │ 38  │ 39  │
//                   └─────┴─────┘                   └─────┴─────┘

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
//┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
//│ TAB │  Q  │  W  │  E  │  R  │  T  │   │  Y  │  U  │  I  │  O  │  P  │BSPC │
//├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//│ ESC │  A  │  S  │  D  │  F  │  G  │   │  H  │  J  │  K  │  L  │  ;  │ RET │
//├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//│LSHFT│  Z  │  X  │  C  │  V  │  B  │   │  N  │  M  │  ,  │  .  │  ?  │RSHFT│
//└─────┴─────┴─────┼─────┼─────┴─────┘   └─────┴─────┼─────┼─────┴─────┴─────┘
//                  │SPACE│ GUI │                   │CTRL │ L1  │
//                  └─────┴─────┘                   └─────┴─────┘
            bindings = <
                &kp  TAB         &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC
                &kp ESC          &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp RET
                &sk LSHIFT       &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp QMARK    &sk RSHIFT
                                                                &kp SPACE    &sk LGUI   &sk LCTRL     &to 1
            >;
        };

        lower_layer {
//             ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
//             │ TAB │  @  │  7  │  8  │  9  │  "  │   │  _  │  /  │  *  │  #  │  |  │ DEL │
//             ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//             │ ESC │  =  │  4  │  5  │  6  │  0  │   │  -  │  (  │  )  │  +  │ L2  │ RET │
//             ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//             │  ~  │ EUR │  1  │  2  │  3  │  %  │   │  {  │  [  │  ]  │  }  │  ^  │REPT │
//             └─────┴─────┴─────┼─────┼─────┴─────┘   └─────┴─────┼─────┼─────┴─────┴─────┘
//                               │SPACE│ L0  │                   │CTRL │ L3  │
//                               └─────┴─────┘                   └─────┴─────┘
            bindings = <
                &kp TAB          &kp AT          &kp N7          &kp N8          &kp N9          &kp DQT          &kp UNDER          &kp SLASH          &kp STAR          &kp HASH          &kp PIPE          &kp DEL
                &kp ESC          &kp EQUAL          &kp N4          &kp N5          &kp N6          &kp N0          &kp MINUS          &kp LPAR          &kp RPAR          &kp PLUS          &to 2         &kp RET
                &kp TILDE          &trans          &kp N1         &kp N2          &kp N3          &kp PRCNT          &kp LBRC          &kp LBKT          &kp RBKT          &kp RBRC          &kp CARET   &trans
                                                                                        &kp SPACE    &to 0   &kp LCTRL     &to 3
            >;
        };

        raise_layer {
//            ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
//            │ TAB │     │SC←  │MS↑  │SC→  │     │   │BACK │LCLK │RCLK │FORW │     │ DEL │
//            ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//            │ ESC │     │MS←  │MS↓  │MS→  │     │   │  ←  │  ↓  │  ↑  │  →  │     │ RET │
//            ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//            │     │     │     │SC↓  │SC↑  │CMDOP│   │     │     │     │     │     │     │
//            └─────┴─────┴─────┼─────┼─────┴─────┘   └─────┴─────┼─────┼─────┴─────┴─────┘
//                              │SPACE│ L0  │                   │CTRL │ L1  │
//                              └─────┴─────┘                   └─────┴─────┘
            bindings = <
                &kp TAB        &trans &msc SCRL_LEFT    &mmv MOVE_UP         &msc SCRL_RIGHT        &trans      &kp C_AC_BACK          &mb LCLK          &mb RCLK      &kp C_AC_FORWARD          &trans        &kp DEL
                &kp ESC          &trans          &mmv MOVE_LEFT          &mmv MOVE_DOWN          &mmv MOVE_RIGHT          &trans          &kp LEFT       &kp DOWN       &kp UP        &kp RIGHT        &trans        &kp RET
                &trans          &trans          &trans          &msc SCRL_DOWN          &msc SCRL_UP          &cmdopt          &trans        &trans &trans &trans &trans &trans
                                                                                     &kp SPACE    &to 0   &sk LCTRL     &to 1
            >;
        };

        adjust_layer {
//                ┌─────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬─────┐
//                │     │     │     │BRI- │BRI+ │     │   │PREV │PLAY │NEXT │     │     │ DEL │
//                ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//                │     │     │     │VOL- │VOL+ │MUTE │   │     │     │     │     │     │     │
//                ├─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┼─────┼─────┤
//                │     │     │     │     │     │     │   │     │     │     │     │LOCK │SLEEP│
//                └─────┴─────┴─────┼─────┼─────┴─────┘   └─────┴─────┼─────┼─────┴─────┴─────┘
//                                  │SPACE│ L0  │                   │CTRL │ L1  │
//                                  └─────┴─────┘                   └─────┴─────┘
            bindings = <
                &trans          &trans          &trans          &kp C_BRI_DN          &kp C_BRI_UP          &trans          &kp C_PREV          &kp C_PP          &kp C_NEXT      &trans         &trans          &kp DEL
                &trans          &trans          &trans          &kp C_VOL_DN         &kp C_VOL_UP          &kp C_MUTE          &trans         &trans          &trans          &trans          &trans          &trans
                &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &kp C_AL_LOCK          &kp C_SLEEP
                                                                                         &kp SPACE    &to 0   &sk LCTRL     &to 1
            >;
        };
    };
};

// Combos for quick access
/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;  // Q + W = ESC
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <12 13>; // A + S = TAB
            bindings = <&kp TAB>;
        };

        combo_ret {
            timeout-ms = <50>;
            key-positions = <21 22>; // L + ; = ENTER
            bindings = <&kp RET>;
        };

        combo_caps {
            timeout-ms = <50>;
            key-positions = <13 14>; // S + D = CAPS
            bindings = <&kp CAPS>;
        };
        combo_screen {
            timeout-ms = <50>;
            key-positions = <25 26>; //
            bindings = <&kp LCTRL &kp LALT>;
        };
    };
};

// Conditional layers
/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

/ {
    macros {
        euro: euro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LSHIFT &kp LALT &kp 2>
                ;
        };
        cmdopt: cmdopt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI &kp LALT >
                , <&macro_release &kp LALT &kp LGUI>
                ;
        };
        center: center {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &kp LCTRL &kp C>
                , <&macro_release &kp LALT &kp LCTRL &kp C>
                ;
        };
        lhalf: lhalf {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT &kp LCTRL &kp LEFT >
                , <&macro_release &kp LALT &kp LCTRL &kp LEFT>
                ;
        };
    };
};