if SHIELD_CORNICHON_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Cornichon"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORNICHON_LEFT || SHIELD_CORNICHON_RIGHT

config ZMK_SPLIT
    default y

endif