if SHIELD_CRNCHN_LEFT

config ZMK_KEYBOARD_NAME
    default "Cornichon"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CRNCHN_LEFT || SHIELD_CRNCHN_RIGHT

config ZMK_SPLIT
    default y

if ZMK_DISPLAY

config SSD1306
    default y

endif # ZMK_DISPLAY



endif