if SHIELD_CRNCHN_LEFT

config ZMK_KEYBOARD_NAME
    default "cornichon"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CRNCHN_LEFT || SHIELD_CRNCHN_RIGHT

config ZMK_SPLIT
    default y

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

endif

endif